<div id="<%= dom_id bag %>">
  <p>
    <strong><%= bag.name %></strong>
  </p>

   <p>
    <strong><%= bag.brand %></strong>
  </p>

   <p>
    <strong><%= bag.price %></strong>
  </p>
    <%= image_tag bag.picture_url, alt: "bag picture" %>
    <p>
    <%= bag.description %>
  </p>

</div>
