<h1>Bags#index</h1>
<p>Find me in app/views/bags/index.html.erb</p>
<div class="container mt-5">
  <h1 class="text-center mb-4">Bag Rental</h1>
  <div class="bags row">
    <% @bags.each do |bag| %>
      <div class="bag col-md-4 mb-4">
        <div class="card h-100">
          <!-- Add an image for each bag if available -->

          <%= image_tag(url_for(bag.photos.first), class: "card-img-top") if bag.photos.attached? %>


          <div class="card-body">
            <h2 class="card-title text-center"><%= bag.name %></h2>
            <p><strong>Brand:</strong> <%= bag.brand %></p>
            <p><strong>Price:</strong> <%= bag.price %></p>
            <!-- Add more information as needed -->
          </div>
          <div class="card-footer">
            <%= link_to "View Details", bag_path(bag), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= link_to "Add a bag", new_bag_path, class: "btn btn-success" %>
  </div>
</div>
