<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>List your bag</h3>
        <%= simple_form_for(@bag) do |f| %>
          <%= f.input :name, placeholder: 'Name your bag' %>
          <%= f.input :photos, as: :file, input_html: {multiple: true} %>
          <%= f.input :photos, as: :file, input_html: {multiple: true} %>
          <%= f.input :brand, placeholder: 'Brand' %>
          <%= f.input :price, placeholder: 'Price' %>
          <div class="input-group">
          <%= f.label :condition %>
          <%= f.select :condition, @conditions, prompt: 'Select Condition' %>
      </div>
          <%= f.input :description, placeholder: 'Description' %>
          <%= f.input :location, placeholder: "Location" %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
    </div>
  </div>
</div>

<!--<h1>Bags#new</h1>
<p>Find me in app/views/bags/new.html.erb</p>


<%= simple_form_for(@bag) do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :condition %>
  <%= f.input :location %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
