
<div class="container background-img">
  <div class="d-flex justify-content-center mt-5">
    <h1><%= current_user.email %> Profile Page</h1>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-center">Bags I Own</h2>
          <div class="row justify-content-center">
            <% @bags.each do |bag| %>
              <div class="col-md-4 mb-4">
                <div class="card h-100">
                  <%= image_tag(url_for(bag.photos.first), class: "card-img-top") if bag.photos.attached? %>
                  <div class="card-body">
                    <h5 class="card-title text-center"><%= bag.name %></h5>
                    <p><strong>Brand:</strong> <%= bag.brand %></p>
                    <p><strong>Price:</strong> <%= bag.price %></p>
                  </div>
                  <div class="card-footer">
                    <%= link_to "View Details", bag_path(bag), class: "btn btn-primary btn-block" %>
                    <%= link_to "Edit", edit_bag_path(bag), class: "btn btn-secondary btn-block mt-2" %>
                    <%= link_to "Delete", bag_path(bag), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-block mt-2" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title text-center">Booking Requests for My Bags</h2>
          <ul class="list-group">
            <% @bookings.each do |booking| %>
              <li class="list-group-item">
                <p><strong>Bag Owner:</strong> <%= booking.bag.user.email %></p>
                <p><strong>Booking Request from:</strong> <%= booking.user.email %></p>
                <p><strong>From:</strong> <%= booking.booking_start %></p>
                <p><strong>Till:</strong> <%= booking.booking_end %></p>
                <p><strong>Message:</strong> <%= booking.comment %></p>
                <p><strong>Confirmed:</strong> <%= booking.confirmed %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <div style="width: 400px; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
